body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('tlo3.jpg') no-repeat center center fixed;
    background-size: cover;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 600px; /* Maksymalna szerokość kontenera */
    background-color: rgba(255, 255, 255, 0.8); /* Dodajemy przezroczysty biały kolor tła */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border: 3px solid pink;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.yes {
    background-color: #4caf50;
    color: #fff;
}

.no {
    background-color: #ff4081;
    color: #fff;
}

/* Media query dla szerszych ekranów */
@media screen and (min-width: 768px) {
    .container {
        width: 60%; /* zmniejszamy szerokość kontenera */
    }
}
